@import 'compass';
// Mixins & @extends

// Variables
$white: #fff;
$light-gray: #eee;
$medium-gray: #e3e3e3;
$dark-gray: #464646;
$bright-blue: #08c;
$vertical-space: 4px;

.feedback-link {
    display: block;
    position: fixed;
    right: 54px;
    bottom: 20px;
    padding: 10px 44px 10px 40px;
    z-index: 1001;
    background: $medium-gray;
    background-image: inline-image('thumbsupdown-1.svg');
    background-repeat: no-repeat;
    background-position: 10px 50%;
    border: solid 1px $bright-blue;

    .no-svg & {
        background-image: url('images/thumbsupdown-1.png');
    }

    &:hover {
        background-color: $light-gray;
        text-decoration: none;
    }

    &.dismissed {
        display: none;
    }
}

.feedback-dismiss-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    z-index: 0;
    background-image: inline-image('cancel.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-width: 1px 1px 1px 0;
    color: $dark-gray;
    line-height: 39px;
    text-align: center;

    &:hover {
        background-color: $white;
    }

    .no-svg & {
        background-image: url('images/cancel.png');
    }
}

.Filter .count {
    display: table-cell;
    padding: $vertical-space 0;
    vertical-align: middle;
}

.facetFields .Filter a,
.moreFacetsPane .FilterGroup .Filter a {
    width: 155px;
    padding-top: $vertical-space;
    padding-right: 0;
    padding-bottom: $vertical-space;
    white-space: normal;
}

