// Control the display of our custom Ask us link
div.ask-us-container a {
  display: block;
  padding: 20px 20px 20px 40px;
}

.siteLinks .ask-us {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

html #libchat_07713bc057f66ebcdccd4dd1b4a2be3e button {
  background-image: url('//www.library.arizona.edu/vendor-support/summon/dist/images/icon-chat.png');
  background-position: center center;
  border: none;
  border-radius: 0;
  cursor: auto;
  display: inline;
  margin: 0;
  padding: 0;
  text-align: left;
  text-indent: -9999px;
  vertical-align: baseline;
  white-space: normal;
}

html #libchat_07713bc057f66ebcdccd4dd1b4a2be3e button.libchat_online,
html #libchat_07713bc057f66ebcdccd4dd1b4a2be3e button.libchat_offline {
  background-color: transparent;
  color: inherit;
}
